{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
  <h1>Dashboard</h1>
<form action="." method="get" enctype="multipart/form-data">
    {% load staticfiles %}
    {% for d in m %}

    <table border='0' width='480px' cellpadding='0' cellspacing='0' align='center'>


<tr>
    <td align="center"><img src="{% if d.photo %}{{ d.photo.url }}{% endif %}" width="200" hight="200" align="center"></td>
</tr>
        <tr> <td>&nbsp;</td> </tr>
<tr> <td>&nbsp;</td> </tr>
        <tr>
    <td align='center'>First Name:</td>
    <td>{{ d.user.first_name }}</td>
</tr>
<tr> <td>&nbsp;</td> </tr>

<tr>
    <td align='center'>Last Name:</td>
    <td>{{ d.user.last_name }}</td>
</tr>
<tr> <td>&nbsp;</td> </tr>
<tr>
    <td align='center'>Address :</td>
    <td>{{ d.add }}</td>

</tr>
<tr>
    <td align='center'>Mobile :</td>
    <td>{{ d.mobile_no }}</td>

</tr>
<tr>
    <td align='center'>Gender :</td>
    <td>{{ d.gender }}</td>

</tr>
        <tr>
    <td align='center'>Courese :</td>
    <td>{{ d.course }}</td>

</tr>
 </table>
  </form>

    {% endfor %}
    {% csrf_token %}
    <p><input type="submit" value="Save changes"></p>

  <p>Welcome to your dashboard. You can <a href="{% url "edit" %}">edit your profile</a> or <a href="{% url "password_change" %}">change your password</a>.</p>
{% endblock %}